.custom-datepicker .react-datepicker__day--selected {
  background-color: #426b1f !important; /* Change to your preferred color */
  color: white !important;
}

.custom-datepicker .react-datepicker__day--keyboard-selected {
  background-color: #426b1f !important;
  color: white !important;
}
